<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MVCmodel</display-name>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>mymvc.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin2</servlet-name>
    <servlet-class>mymvc.Admin_dev</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin2</servlet-name>
    <url-pattern>/Admin_dev</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Developer1</servlet-name>
    <servlet-class>mymvc.Dev_reg_serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Developer1</servlet-name>
    <url-pattern>/Dev_reg_serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Developer2</servlet-name>
    <servlet-class>mymvc.Dev_Authenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Developer2</servlet-name>
    <url-pattern>/dev_auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Students</servlet-name>
    <servlet-class>mymvc.Admin_Stud_serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Students</servlet-name>
    <url-pattern>/Admin_Stud_serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Studentview</servlet-name>
    <servlet-class>mymvc.Students_info_serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studentview</servlet-name>
    <url-pattern>/Students_info_serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>View1</servlet-name>
    <servlet-class>mymvc.admin_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View1</servlet-name>
    <url-pattern>/admin_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Attendance_Save</servlet-name>
    <servlet-class>mymvc.Attendance_Save</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attendance_Save</servlet-name>
    <url-pattern>/Attendance_Save</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Attendance_Report</servlet-name>
    <servlet-class>mymvc.Attendance_Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attendance_Report</servlet-name>
    <url-pattern>/Attendance_Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Attendance_Student</servlet-name>
    <servlet-class>mymvc.Individual_Attendance_Percentange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attendance_Student</servlet-name>
    <url-pattern>/Individual_Attendance_Percentage</url-pattern>
  </servlet-mapping>
</web-app>